.one{
    
    text-align: center;
    margin: 10px;
    padding: 10px;
    border: 2px solid black;
    border-radius: 15px;
    box-shadow: 2px 2px 10px black;
}

.navbar
{
    display: flex;
    flex-direction: row-reverse;
    margin: 10px;
    padding: 10px;
}

.form
{
    margin: 10px;
    padding: 30px;
}
.form h2
{
    font-size: 900;
    font-family: 'arial';
}
label{
    font-weight: 800;
    font-family:'Times New Roman', Times, serif;
    
}
#emailHelp
{
    font-weight: 500;
}

.navbar .container-fluid:hover{
    box-shadow: 2px 2px 10px black;
}

.one{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    

}
.one #imgs
{
    opacity: 0.74;
    color: white;
}
.one h1{
    opacity: 0.80;
}
.one #imgs:hover
{
    opacity: 1;
}
.one h1:hover{
    opacity: 1;
    box-shadow: 2px 2px 10px black;
}
.one #imgs
{
    margin-right: 1.2rem;
    
}