.one{
    
    text-align: center;
    margin: 10px;
    padding: 10px;
    border: 2px solid black;
    border-radius: 15px;
    box-shadow: 2px 2px 10px black;
}

.navbar
{
    display: flex;
    flex-direction: row-reverse;
    margin: 10px;
    padding: 10px;
}

.form
{
    margin: 10px;
    padding: 10px;
}
.form h2
{
    font-size: 900;
    font-family: 'Courier New', Courier, monospace;
}